---
title: "Tango: The Art History of Love"
author: Robert Farris Thompson
year: 2006
date: 2011-10-29
tags:
category:
cover: art-history-love.jpg
buypage:
  - site: amazon
    link: https://www.amazon.com/Tango-History-Robert-Farris-Thompson/dp/1400095794
readpage:
  - site: google book
    link: https://books.google.com.sg/books?id=2Ce8NRaM0GYC


---
:markdown
  In this generously illustrated book, world-renowned Yale
  art historian Robert Farris Thompson gives us the definitive
  account of tango,
  "the fabulous dance of the past hundred years --
  and the most beautiful, in the opinion of Martha Graham.”

  Thompson traces tango’s evolution in the nineteenth century
  under European, Andalusian-Gaucho, and African influences
  through its representations by Hollywood and dramatizations
  in dance halls throughout the world.
  He shows us tango not only as brilliant choreography but
  also as text, music, art, and philosophy of life.
  Passionately argued and unparalleled in its research,
  its synthesis, and its depth of understanding,
  Tango: The Art History of Love is a monumental achievement.
