---
title: "The Tao of Tango"
author: Johanna Siegmann
year: 2000
date: 2011-10-29
tags:
category:
cover: tao-tango.jpg
buypage:
  - site: amazon
    link: https://www.amazon.com/Tao-Tango-Johanna-Siegmann/dp/155212410X/
readpage:
  - site: google book
    link: https://books.google.com.sg/books?id=szqTMwc83QcC



---
:markdown
  *I'm meeting all the wrong people.*

  *Nobody listens to me.*

  *My temper is out of control.*

  *Men find me "intimidating".*

  *Women think I'm a "wuss".*

  *I can't seem to finish anything.*

  *How can I be a better friend/lover/boss/whatever?*

  *My male/female energies are out of balance.*

  *What the heck are male and female energies?*

  *And what does Tango have to do with any of this?*

  With its thoughtful, light-hearted insights and simple
  physical exercises this book will help you achieve
  the coveted "balance" that affects every aspect of your life.
  Discover how this 100-year-old dance can lead you to a more
  balanced life.

  Even if you can't dance.
