---
title: "Tango and Chaos"
author: Rick McGarrey
year: 2006
date: 2011-10-29
category:
author: Rick McGarrey
esite: http://tangoandchaos.org
thumb: tangochaos.png


---
:markdown
  Rick McGarrey visited Buenos Aires to learn tango in 2004.
  This is his experience.
