---
title: Contact Phusion
pageclass: contact
---
.container
  %dl.row
    - data.tangowords.each do |w|
      %dt.col-md-3.col-xs-12.text-truncate
        = w.term
      %dd.col-md-9.col-xs-12.text-truncate
        = w.definition
